<a href="https://colab.research.google.com/github/JakeOh/202103_itw_pyda_wkd/blob/main/da07_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 패키지 임포트
import pandas as pd

pandas 패키지의 주요 데이터 타입(클래스): Series, DataFrame

*   Series: 1차원 형태의 배열과 비슷한 타입.
    *   한가지 타입의 데이터만 저장할 수 있음.
*   DataFrame: 2차원 형태의 배열(행, 열)과 비슷한 타입.
    *   각 컬럼에는 같은 타입의 데이터가 저장.
*  Series, DataFrame이 numpy.ndarray 클래스와 다른 점은 인덱스를 설정할 수 있다는 점.

# Series

In [2]:
s = pd.Series(data=[1, 10, 5, 9])

In [5]:
s
#> pd.Series를 출력하면 인덱스, 데이터, 데이터 타입이 함께 출력됨.

0     1
1    10
2     5
3     9
dtype: int64

In [6]:
s[1]  # 인덱스를 이용해서 데이터 선택

10

In [7]:
s.shape

(4,)

In [8]:
s.dtype

dtype('int64')

In [9]:
s = pd.Series(data=[1, 10, 5, 9],
              index=['a', 'z', 'b', 'y'])

In [10]:
s

a     1
z    10
b     5
y     9
dtype: int64

In [11]:
s['z']

10


*   `pd.Series.loc[레이블 기반 인덱스]`
*   `pd.Series.iloc[위치(정수) 기반 인덱스]`

In [13]:
s.loc['z']

10

In [15]:
s.iloc[1]

10

In [17]:
s.loc['a':'b']
#> 인덱스 'a'부터 'b'까지 슬라이싱. 인덱스 'b'가 포함.

a     1
z    10
b     5
dtype: int64

In [19]:
s.iloc[0:2]
#> 0 <= i < 2의 위치에 있는 아이템들을 slicing.

a     1
z    10
dtype: int64

In [20]:
s = pd.Series(data=[1, 10, 5, 9])

In [21]:
s

0     1
1    10
2     5
3     9
dtype: int64

In [22]:
s.loc[0:2]  #> 인덱스 2가 포함됨.

0     1
1    10
2     5
dtype: int64

In [23]:
s.iloc[0:2]  #> 인덱스 2가 포함되지 않음.

0     1
1    10
dtype: int64

In [25]:
# list indexing(fancy indexing)
s.loc[[0, 2]]

0    1
2    5
dtype: int64

In [26]:
s.iloc[[1, 3]]

1    10
3     9
dtype: int64

In [28]:
# boolean indexing: 조건을 만족하는 아이템들을 선택.
s[s % 2 == 0]

1    10
dtype: int64

In [29]:
s[s % 2 == 1]

0    1
2    5
3    9
dtype: int64

# DataFrame

In [30]:
df = pd.DataFrame(data={'번호': [1, 2, 3],
                        '키': [170.1, 160.5, 180.3],
                        '몸무게': [77, 55, 85]})

In [31]:
print(df)

   번호      키  몸무게
0   1  170.1   77
1   2  160.5   55
2   3  180.3   85

In [32]:
df

   번호      키  몸무게
0   1  170.1   77
1   2  160.5   55
2   3  180.3   85

In [33]:
df.shape  #> (n_rows, n_columns)

(3, 3)

In [34]:
df.dtypes  #> 데이터 프레임의 각 컬럼의 데이터 타입들

번호       int64
키      float64
몸무게      int64
dtype: object

## 데이터 프레임에서 컬럼 선택

In [36]:
df['키']
#> 데이터 프레임에서 컬럼 하나를 선택하면 Series를 반환함.

0    170.1
1    160.5
2    180.3
Name: 키, dtype: float64

In [38]:
df[['키', '몸무게']]
#> 데이터 프레임에서 "한개" 이상의 컬럼을 list indexing 방식으로 선택하면
#> DataFrame을 반환함.

       키  몸무게
0  170.1   77
1  160.5   55
2  180.3   85

In [39]:
df[['키']]
#> 컬럼이 한개밖에 없는 DataFrame

       키
0  170.1
1  160.5
2  180.3

## 데이터 프레임에서 row(행)을 선택하는 방법

In [42]:
df

   번호      키  몸무게
0   1  170.1   77
1   2  160.5   55
2   3  180.3   85

In [41]:
df.loc[0]  #> 행 1개 선택 -> Series

번호       1.0
키      170.1
몸무게     77.0
Name: 0, dtype: float64

In [43]:
df.iloc[0]

번호       1.0
키      170.1
몸무게     77.0
Name: 0, dtype: float64

In [44]:
# (row) slicing
df.loc[0:1]  #> 인덱스 1이 포함

   번호      키  몸무게
0   1  170.1   77
1   2  160.5   55

In [45]:
df.iloc[0:1]  # 인덱스 1이 미포함.

   번호      키  몸무게
0   1  170.1   77

In [48]:
# list indexing(fancy indexng) -> DataFrame
df.loc[[2, 0]]

   번호      키  몸무게
2   3  180.3   85
0   1  170.1   77

In [49]:
df.loc[[0]]  #> row(행)이 1개인 DataFrame

   번호      키  몸무게
0   1  170.1   77

In [54]:
# boolean indexing - DataFrame에서 조건을 만족하는 레코드(row 들)을 선택
# 키가 170 이상인 모든 row들(레코드)
df[df['키'] >= 170]
# select * from df where 키 >= 170;

   번호      키  몸무게
1   2  160.5   55

In [55]:
# boolean indexing에서 논리 연산
# and: A & B
# or: A | B
# not: ~A
# 키 170 이상이고, 몸무게는 80 이하인 레코드
df[(df['키'] >= 170) & (df['몸무게'] <= 80)]

   번호      키  몸무게
0   1  170.1   77